html, body{
    margin: 0;
    padding: 100;
}

html{
    scroll-behavior: smooth;
}

.main-header-1{
    background-color: rgb(255, 255, 255);
    background-image: url(../images/star\ 2.jpg);
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}    

.main-header-2{
    background-color: rgb(160, 55, 55);
    background-image: url(../images/Green\ cow.jpg);
    background-size: cover;
    padding-bottom: 180px;
    padding-top: 90px;
    text-align: center;
    
}    

.main-header-3{
    background-color: rgb(255, 255, 255);
    background-image: url(../images/blue-mosque-3.jpg);
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    
}    

.main-header-4{
    background-color: rgb(255, 255, 255);
    background-image: url(../images/Badshahi\ mousque.jpg);
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
}    

.nav{
    top: 0;
    position: fixed;
    /*Tilpasser containers bredde, så knappene havner i midten*/
    width: 100%;
    text-align: center;
   }


.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
} 

.nav a{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    padding: 0,5em;
    
}

.nav a:hover{ 
    color: rgb(110, 105, 105);
    /* fader ut en gradient */
    background-image: linear-gradient (rgba(0 255, 255, 1), rgba(0, 0, 0, ));
}
.body{
    text-align: center;
}



.main-nav{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.about-band-image{
    float: inline-end;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 15px;

}

.about-rest-image{
    float: inline-end;
    height: 200px;
    width: 300px;
    border-radius: 10%;
    margin: 15px;
}

.about-project-image{
    float: inline-end;
    height: 400px;
    width: 480px;
    border-radius: 10%;
    margin: 15px;
}


.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.media-nav li{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    padding: 0,5em;
}

.about-icon-image{
    float: inline-end;
    height: 75px;
    width: 75px;
    border-radius: 15%;
    margin: 15px;
}
}



